.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card__image {
  height: 282px;
  width: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.card__description {
  display: flex;
  background-color: #fff;
  padding: 25px 20px;
  gap: 28px;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__info {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__button {
  background: transparent url(../images/Vector.svg) center no-repeat;
  border: none;
  height: 19px;
  width: 23px;
  transition: opacity 0.2s;
  background-size: 21px, 18px;
}

.card__button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__button_type_like {
  background-image: url(../images/Union.svg);
}

.card__button_type_delete {
  background: transparent url(../images/Trash.svg) center no-repeat;
  border: none;
  transition: opacity 0.2s;
  position: absolute;
  width: 18px;
  height: 20px;
  margin-left: 249px;
  margin-top: 18px;
}

.card__button_type_delete:hover {
  opacity: 0.6;
  cursor: pointer;
}
