.footer {
  max-width: 68.75%;
  margin: 0 auto;
  color: #545454;
}

.footer__copywright {
  margin: 0;
  padding-top: 67px;
  padding-bottom: 60px;
  font-size: 18px;
  font-weight: 400;
  width: 318px;
  height: 18px;
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 100%;
    margin: 0;
    padding-left: 19px;
  }

  .footer__copywright {
    padding-top: 48px;
    padding-bottom: 36px;
    font-size: 14px;
    width: 282px;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    max-width: 100%;
    margin: 0;
    padding-left: 8%;
  }

  .footer__copywright {
    padding-top: 48px;
    padding-bottom: 36px;
    font-size: 14px;
    width: 282px;
  }
}
