.header {
  max-width: 68.75%;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: rgba(84, 84, 84, 0.7) solid 1px;
}

.header__logo {
  height: 33px;
  width: 173px;
}

@media screen and (max-width: 900px) {
  .header {
    max-width: 100%;
    margin-left: 8%;
    margin-right: 8%;
  }
  .header__logo {
    height: 24px;
    width: 126px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0;
    padding: 28px 0 32px 27px;
  }
}
