.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  padding: 0 19px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  margin: auto;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

.modal__close {
  background-image: url(../images/Close_Icon.svg);
  height: 40px;
  width: 40px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: -45px;
  right: -45px;
  transition: opacity 0.5s;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__heading {
  font-size: 24px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 54px;
}

.modal__form {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.modal__form-input {
  padding: 0 0 13px;
  border: none;
  margin-bottom: 30px;
  border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
}

.modal__button {
  font-size: 18px;
  width: 358px;
  height: 50px;
  margin-top: 18px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  border: none;
  transition: opacity 0.5s;
}

.modal__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__preview {
  padding: 0;
  border-radius: 10px;
  position: relative;
  margin: auto;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

.modal__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__description {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}

@media screen and (max-width: 525px) {
  .modal__container {
    padding: 25px 22px;
  }

  .modal__heading {
    font-size: 18px;
    margin-bottom: 75px;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    right: 0;
    top: -40px;
  }

  .modal__button {
    margin-top: 15px;
    width: 238px;
    height: 46px;
    font-size: 14px;
  }
}
