.profile {
  color: #fff;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 120px 1fr min-content;
  gap: 40px;
  align-items: center;
  padding-bottom: 51px;
}

.profile__photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  display: flex;
  gap: 18px;
}

.profile__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  margin: 7px 0 0;
  font-size: 18px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__button {
  background-color: #000;
  border: #fff solid;
}

.profile__button_edit {
  height: 24px;
  width: 24px;
  align-self: center;
  margin: 15px 0 9px;
}

.profile__edit_symbol {
}

.profile__button_add {
  height: 50px;
  width: 150px;
  margin-left: auto;
  align-self: center;
}

.profile__add_symbol {
}
